server {
        listen 80;
        listen [::]:80;
        location / {
                proxy_pass  http://dawn_django:8000;
                proxy_set_header Host      $host;
                proxy_set_header X-Real-IP $remote_addr;
        }

	# TODO: Consider doing something similar for /static/admin
	location /static/ {
		# TODO: Parameter for where the static files are stored
		# for a given Django app.
		alias /app/{{ app_name }}/staticfiles;
	}
	location /media/ {
		# TODO: Parameter for where the media files are stored
		# for a given Django app.
		alias /app/{{ app_name }}/media;
	}

        server_name {{ inventory_hostname }};
        location ~ /.well-known/ {
                allow all;
		root /var/www/html;
        }
	# TODO: Parameters for these?
	client_max_body_size 5m;
	client_body_buffer_size 16K;
}
