---
- name: Install docker packages
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - apt-transport-https
    - ca-certificates
    - curl
    - software-properties-common

- name: Add Docker s official GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Verify that we have the key with the fingerprint
  apt_key:
    id: 0EBFCD88
    state: present
  tags:
    - docker

- name: Set up the stable repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu xenial stable
    state: present
    update_cache: yes

- name: Update apt packages
  apt:
    update_cache: yes

- name: Install docker
  apt:
    name: docker-ce
    state: present
    update_cache: yes

# - name: Add remote "ubuntu" user to "docker" group
#   user:
#     name: "ubuntu"
#     group: "docker"
#     append: yes

- name: Install docker-compose
  get_url: 
    # TODO: Some parameter to specify the desired version.
    url : https://github.com/docker/compose/releases/download/v2.26.1/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: 'u+x,g+x'
