http {
  server {
    listen 80;
    listen [::]:80;
    location / {
      return 200 "OK";
      add_header Content-Type text/plain;
    }
    server_name "{{ ansible_host }} www.{{ ansible_host }}";
    location ~ /.well-known/ {
        allow all;
        root /var/www/html;
    }
  }
}
