docksible_phpmyadmin:
  depends_on:
    docksible_db:
      condition: service_healthy
  image: phpmyadmin
  container_name: docksible_phpmyadmin
  restart: unless-stopped
  environment:
    - "PMA_HOST=docksible_db"
