docksible_ssh_proxy:
  # Commented out, useful for development.
  #build: https://github.com/belal-i/simple-ssh-proxy.git#develop
  image: belalibrahim/simple-ssh-proxy:latest
  ports:
    - "2222:22"
  volumes:
    - "{{ ansible_env.HOME }}/docker-compose-volumes/ssh-proxy-data:/home/proxy_user/.ssh"
  container_name: docksible_ssh_proxy
