server {
        listen 80;
        listen [::]:80;
        location / {
                proxy_pass  http://dawn_redmine:3000;
                proxy_set_header Host      $host;
                proxy_set_header X-Real-IP $remote_addr;
        }

        server_name {{ inventory_hostname }};
        location ~ /.well-known/ {
                allow all;
		root /var/www/html;
        }

}

